html {
    background: url(3886199.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }

h1{
    font-family: 'Poiret One', cursive;
font-family: 'Righteous', cursive;
   text-align: center; 
}

.inputMessage{
    position: absolute;
    top: 450px;
    right: 10px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    font-family: 'Righteous', cursive;
}

.instructions{
    position: absolute;
    top: 480px;
    right: 10px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
    font-family: 'Righteous', cursive;
}

ul{
    position: absolute;
    top: 140px;
    right: 150px;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
    font-family: 'Righteous', cursive;
}

.container{
    text-align: left;
}

.buttonSec{
    margin-top:18px;
  }
  
  .buttonSec button {
    width: 100px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    float: left;
    font-size:15px;
    background-color: #a76e0be0;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1)0%,rgba(30,40,53,0)66%);
    color: #fafafa;
  }

  .image{
      max-width: 45%;
      max-height: 45%;
  }